<div class="container">
<form action="/user/login" method="POST">
  <div class="login" >
    <h3>Войти</h3>

    <input type=" text" placeholder="Имя пользователя" name="username">
    <input type="password" placeholder="Пароль" name="password">

    <button class="btn btn-success">Войти</button>
  </div>
</form>
<a href="/user/logup" class="btn btn-primary">Registration</a>
</div>
