
 <div class="container">
  <form action='/user/logup' method="POST" role="form">
    <div class="form-group">
      <div class="register form-group" >
        <h2>Регистрация</h2>
      </div>
      <p class="help-block">Что-бы здорово провести время и выбрать подходящее пиво, пожалуйста зарегистрируйтесь:</p>
      <div >
        <p>
          <label for="username"><b>Имя пользователя</b></label>
          <input type="text" placeholder="Введите имя пользователя" name="username" required>
        </p>

        <p>
          <label for="psw"><b>Пароль</b></label>
          <input type="password" placeholder="Введите пароль" name="password" required>
        </p>

        <p>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Введите почту" name="email" required>
        </p>
      </div>


      <div class="register">
        <button type="submit" class="registerbtn btn btn-success" >Зарегистрироваться</button>
      </div>
    

</div>
  </form>

</div>
