<style>
  @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Outline&display=swap');
</style>
<div style="background-color:#E6E6FA;" >

<div  class="d-flex justify-content-around">







<div style="background-color:#DCDCDC;border-top: 4px outset grey; border-bottom: 4px outset grey;"><p><div> Получить рандомное пиво</div></p><a href="/randombeer" class="btn btn-primary">RANDOM</a></div>








<div style="background-color:#DCDCDC;padding: 15px; border-top: 4px outset grey; border-bottom: 4px outset grey;"><p>Расширенный поиск</p><a href="/selectbeer" class="btn btn-primary">SELECT</a></div>
</div>

<div  class="d-flex justify-content-end" role="group" aria-label="Basic outlined example ">

<script>var anekdot_count = 1;</script>
<div class="p-2 bg-light border" style= 'padding: 5px; width: 640px;'>
  <script src="https://www.anekdot.ru/rss/tag_js/155.js" charset="utf-8">
  </script>
</div>

</div>
<div  style="height: 200px; font-family: 'Bangers', cursive; font-size:150px ">BEEEEEER !!! BEEEEEER !!! BEEEEEER !!!</div>



<div class="d-flex justify-content-end">
<iframe width="640" height="360"
  src="https://www.youtube.com/embed/OhRQpx228rY?modestbranding=1;rel=0;controls=1;showinfo=0;autoplay=1;iv_load_policy=3"
  frameborder="0" allowfullscreen></iframe>
</div>
</div>
