Поиск по еде
<form action="/user/searchbeer" method="POST">
<input type="text" name="foodname">

<button class='btn btn-primary' type="submit">НАЙТИ</button>
</form>



Поиск по названию
<form action="/user/searchbeer" method="POST">
  <input type="text" name="foodname1">

  <button class='btn btn-primary' type="submit">НАЙТИ</button>
</form>
